body {
  background: whitesmoke;
}

.info-main {
  font-size: 16px;
  color: black;
}

.info-details {
  font-size: 12px;
  color: grey;
}

.newTransactionBox {
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

.primaryColor {
  background-color: #147eff;
}

.secondaryColor {
  background-color: #eaf3fc;
}
